NODE_ENV=development
PORT=3000

# Database url Prisma ORM, this can be the local or the production one
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/reume_db?schema=public

# Local database credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=reume_db

RESEND_API_KEY=